html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

section {
  scroll-margin-top: 90px;
}

/* 


CSS del header de la pagina 


*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px 15px;
  margin: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  box-sizing: border-box;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  height: 1px;
  background-color: #ffce74;
  transform: translateX(-50%);
}

.div-logos {
  display: flex;
}

.GTI_logo {
  height: 60px;
  width: auto;
}

.DOA_logo {
  height: 30px;
  width: auto;
  margin-top: 15px;
  margin-left: 10px;
}

nav {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 30px;
}

nav a:hover {
  background-color: #ffe2ab;
  box-shadow: 0 0 18px 8px #ffe2ab;
}

nav a:focus {
  background-color: #fdd994;
  box-shadow: 0 0 18px 8px #fdd994;
}

.btn-empezar {
  width: 120px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ffce74;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-empezar:hover {
  font-size: 17px;
  box-shadow: 0 0 18px 8px #ffce74;
}

/*


comienzo del apartado hero en el CSS 


*/

.hero-section {
  margin-top: 130px;
  height: 700px;
  display: flex;
  justify-content: space-evenly;
}

.hero-contenido {
  width: 35%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hero-contenido h1 {
  text-align: center;
  font-size: 32px;
  line-height: 1.15;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;
  color: #111111;
  max-width: 500px;
}

.hero-contenido h1 span {
  display: block;
  margin-top: 8px;
  color: #d99a25;
  font-weight: 900;
}

.hero-contenido div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.hero-contenido p {
  text-align: center;
  margin: 0;
  max-width: 360px;
}

.btn-demo {
  width: 140px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ffce74;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn-demo:hover {
  font-size: 18px;
  box-shadow: 0 0 18px 8px #dfa335;
}

.hero-img {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  width: 900px;
  height: auto;
  z-index: 1;
  filter: drop-shadow(0 24px 28px rgba(0, 0, 0, 0.25));
  transition:
    transform 0.4s ease,
    filter 0.4s ease;
}

.hero-img img:hover {
  filter: drop-shadow(0px 40px 46px rgba(150, 149, 111));
}

.hero-img div {
  display: none;
}

/*


comienzo del apartado sobre nosotros en el CSS 


*/

.section-sobre-nosotros {
  display: flex;
  margin-top: 150px;
  margin-bottom: 100px;
}

.sobre-nosotros-div-pregunta {
  width: 35%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

.sobre-nosotros-div-pregunta h2 {
  text-align: center;
  font-size: 32px;
  line-height: 1.15;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;
  color: #111111;
  max-width: 500px;
}

.sobre-nosotros-div-pregunta span {
  margin-top: 8px;
  color: #d99a25;
  font-weight: 900;
}

.atlas-informacion {
  height: 450px;
  margin-top: 80px;
  width: auto;
}

.sobre-nosotros-div-informacion {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  margin-right: 50px;
  background-color: rgba(255, 206, 116, 0.3);
}

.div-informativo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 5px;
  padding: 0 50px;
}

.div-informativo div {
  flex: 1;
}

.div-informativo h3 {
  font-size: 24px;
}

.div-informativo p {
  font-size: 18px;
}

.div-informativo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

/*


comienzo last section en el CSS 


*/

.last-section {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  padding: 80px 60px;
}

.last-img {
  width: 250px;
  height: 420px;
  overflow: hidden;
  border-radius: 10px;
}

.last-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.last-content {
  width: 520px;
  min-height: 420px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding: 0 20px;
}

.last-text {
  margin-top: 20px;
}

.last-text h3 {
  font-size: 38px;
  margin: 0 0 60px 0;
  color: #111111;
  font-weight: 500;
}

.last-text p {
  font-size: 17px;
  line-height: 1.25;
  margin: 0 auto;
  color: #111111;
  max-width: 560px;
}

.last-btn {
  width: 335px;
  height: 74px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 22px;
  background-color: rgba(255, 206, 116, 0.9);

  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;

  margin-bottom: 25px;
  transition: all 0.3s ease;
}

.last-btn:hover {
  transform: translateY(-3px);
  background-color: #ffce74;
  box-shadow: 0 8px 20px rgba(255, 206, 116, 0.7);
}

/* 


diseño responsive de la pagina


*/

@media (max-width: 1265px) {
  .hero-contenido h1 {
    font-size: 28px;
  }

  .hero-img img {
    width: 600px;
  }

  /* diseño responsive de informacion */

  .section-sobre-nosotros {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .sobre-nosotros-div-pregunta {
    display: none;
  }

  .sobre-nosotros-div-informacion {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    margin-right: 0px;
    background-color: rgba(255, 206, 116, 0.3);
  }
}

@media (max-width: 1000px) {
  /* 


    diseño responsive del header 


  */

  .div-logos {
    display: flex;
  }

  .GTI_logo {
    height: 50px;
    width: auto;
  }

  .DOA_logo {
    display: none;
  }

  nav {
    width: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav a {
    font-size: 14px;
    padding: 8px;
  }

  nav a:hover {
    background-color: #ffe2ab;
    box-shadow: 0 0 14px 7px #ffe2ab;
  }

  nav a:focus {
    background-color: #fdd994;
    box-shadow: 0 0 14px 7px #fdd994;
  }

  .btn-empezar {
    width: 100px;
    height: 40px;
    margin-right: 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #ffce74;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .btn-empezar:hover {
    font-size: 14px;
    box-shadow: 0 0 14px 7px #ffce74;
  }

  /*


diseño resposive de la seccion hero 


*/

  .hero-section {
    margin-top: 50px;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

  .hero-contenido {
    margin-top: 40px;
    width: 100%;
  }
  .hero-contenido div {
    display: none;
  }

  .hero-contenido h1 {
    font-size: 32px;
  }

  .hero-img {
    flex-direction: column;
    width: 100%;
  }

  .hero-img img {
    margin-top: 50px;
    width: 80%;
    margin-bottom: 50px;
  }

  .hero-img div {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 15px;
    background-color: rgba(255, 206, 116, 0.3);
    border-radius: 30px;
  }

  .hero-img p {
    text-align: center;
    margin: 0;
    max-width: 360px;
    margin-bottom: 20px;
  }

  /* 

  
  diseño responsive para section de informacion 
  
  
  */

  .section-sobre-nosotros {
    margin-bottom: 100px;
  }

  .sobre-nosotros-div-informacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 0;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  .div-informativo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
    margin: 5px auto;
    padding: 0;

    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .div-informativo div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-informativo h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
  }

  .div-informativo p {
    font-size: 16px;
    text-align: center;
    max-width: 330px;
    margin: 0 auto;
    line-height: 1.4;
  }

  .div-informativo img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    flex-shrink: 1;
  }

  /* 
  

  ultima secction resposive 
  
  
  */

  .last-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    gap: 0;
  }

  .last-img {
    display: none;
  }

  .last-content {
    width: 100%;
    max-width: 420px;
    min-height: auto;
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .last-text {
    width: 100%;
    margin: 0;
  }

  .last-text h3 {
    font-size: 32px;
    margin: 0 0 30px 0;
  }

  .last-text p {
    font-size: 16px;
    line-height: 1.4;
    max-width: 340px;
    margin: 0 auto 40px auto;
  }

  .last-btn {
    width: 100%;
    max-width: 320px;
    height: 60px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    border-radius: 20px;
  }
}

/*


diseño resposive para telfonos pequeños


*/

@media (max-width: 530px) {
  .btn-empezar {
    display: none;
  }

  .hero-contenido h1 {
    margin-top: 0;
    font-size: 25px;
  }

  .hero-img p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    max-width: 360px;
    margin-bottom: 20px;
  }
}
